{
  "openapi": "3.0.0",
  "info": {
    "title": "Holded API",
    "description": "# Welcome to the Holded API\n\nThe Holded API allows you to integrate your business tools with the Holded ERP platform. Manage invoices, contacts, taxes, users, and more programmatically.\n\n## Authentication\n\nAll requests require a valid API key. Include it in your request headers:\n\n```\nAuthorization: Bearer <your-api-key>\n```\n\n## Conventions\n\n- **Format:** JSON (`application/json`) for requests and responses\n- **Rate limiting:** 100 requests per minute per API key\n- **Pagination:** Use `page` and `limit` query parameters\n- **Errors:** Standard HTTP status codes with descriptive error messages\n",
    "contact": {
      "name": "Holded API Support",
      "url": "https://developers.holded.com",
      "email": "support@holded.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.holded.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v2/treasuries/transactions": {
      "get": {
        "tags": [
          "Treasuries"
        ],
        "summary": "List all treasury transactions",
        "description": "**Required permission:** `accounting:banks.read`\n\nReturns a paginated list of transactions across all treasury accounts.\n\nResults are cursor-paginated: the response includes a `cursor` value and a `has_more` boolean. Default page size is 25, configurable up to 100 with `limit`. Use this endpoint for a consolidated view of all cash movements.",
        "operationId": "get_holded_banking_ui_adapter_http_api_listalltreasurytransactionsapi__invoke",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor for pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of transactions to return per page. Defaults to 25, maximum 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of treasury transactions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "Unique identifier of the transaction",
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "treasury_id": {
                            "description": "Identifier of the treasury account this transaction belongs to",
                            "type": "string",
                            "example": "507f1f77bcf86cd799439012",
                            "nullable": true
                          },
                          "contact_name": {
                            "description": "Name of the contact associated with the transaction",
                            "type": "string",
                            "example": "Acme Corp"
                          },
                          "amount": {
                            "description": "Decimal as string for precision",
                            "type": "string",
                            "example": "1500.00"
                          },
                          "description": {
                            "description": "Description of the transaction",
                            "type": "string"
                          },
                          "date": {
                            "description": "Transaction date as an ISO 8601 timestamp",
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "accounting:banks.read"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/attachments": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "List credit note attachments",
        "description": "**Required permission:** `sales:invoices.read`\n\nReturns the list of files attached to a credit note.\n\nEach attachment includes its identifier, file name, and size.",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_listcreditnoteattachmentsapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Attach a file to a credit note",
        "description": "**Required permission:** `sales:invoices.write`\n\nAttaches a file to a credit note. Send the file as `multipart/form-data`.\n\nMaximum file size is 10 MB.",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_attachcreditnotefileapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File attached",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "List credit notes",
        "description": "**Required permission:** `sales:invoices.read`\n\nReturns a paginated list of credit notes in your account.\n\nResults are cursor-paginated: the response includes a `cursor` value and a `has_more` boolean. Default page size is 25, configurable up to 100 with `limit`.",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_listcreditnotesapi__invoke",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of credit notes to return per page. Defaults to 25, maximum 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Opaque cursor for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "partial",
                "cancelled",
                "failed"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "-date",
                "dueDate",
                "-dueDate",
                "total",
                "-total"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of credit notes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "Unique identifier of the document",
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "document_number": {
                            "description": "Sequential number assigned to the document",
                            "type": "string",
                            "example": "INV-0001"
                          },
                          "contact_id": {
                            "description": "Identifier of the contact associated with this document",
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "contact_name": {
                            "description": "Name of the contact associated with this document",
                            "type": "string",
                            "example": "Acme Corp"
                          },
                          "description": {
                            "description": "Free-text description of the document",
                            "type": "string",
                            "nullable": true
                          },
                          "date": {
                            "description": "Issue date of the document in ISO 8601 format",
                            "type": "string",
                            "format": "date",
                            "example": "2024-01-15"
                          },
                          "due_date": {
                            "description": "Payment due date in ISO 8601 format",
                            "type": "string",
                            "format": "date",
                            "example": "2024-02-15",
                            "nullable": true
                          },
                          "subtotal": {
                            "description": "Sum of all line amounts before tax and discounts, as a decimal string",
                            "type": "string",
                            "example": "100.00"
                          },
                          "discount": {
                            "description": "Total discount applied to the document, as a decimal string",
                            "type": "string",
                            "example": "0"
                          },
                          "total": {
                            "description": "Final amount including taxes and discounts, as a decimal string",
                            "type": "string",
                            "example": "121.00"
                          },
                          "tax": {
                            "description": "Total tax amount, as a decimal string",
                            "type": "string",
                            "example": "21.00"
                          },
                          "currency": {
                            "description": "ISO 4217 currency code",
                            "type": "string",
                            "example": "EUR"
                          },
                          "status": {
                            "description": "Current status of the document",
                            "type": "string",
                            "example": "pending"
                          },
                          "tags": {
                            "description": "List of tags attached to the document",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "payment_method_id": {
                            "description": "Identifier of the default payment method for this credit note",
                            "type": "string",
                            "nullable": true
                          },
                          "payments_total": {
                            "description": "Total amount already paid, as a decimal string",
                            "type": "string",
                            "example": "0"
                          },
                          "payments_pending": {
                            "description": "Remaining amount to be paid, as a decimal string",
                            "type": "string",
                            "example": "121.00"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Create a credit note",
        "description": "**Required permission:** `sales:invoices.write`\n\nCreates a new credit note for a contact. Credit notes reduce the balance owed by a customer \u2014 typically issued to correct an error, apply a discount, or cancel a previously issued invoice.\n\nYou must provide either a `contact_id` or a `contact_name`. Include line items in the `items` array. The response returns the new credit note `id`.",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_createcreditnoteapi__invoke",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "contact_id": {
                    "description": "Identifier of an existing contact",
                    "type": "string"
                  },
                  "contact_name": {
                    "description": "Name of the contact",
                    "type": "string"
                  },
                  "description": {
                    "description": "Free-text description",
                    "type": "string",
                    "nullable": true
                  },
                  "date": {
                    "description": "Issue date in ISO 8601 format",
                    "type": "string",
                    "format": "date",
                    "example": "2024-01-15"
                  },
                  "due_date": {
                    "description": "Due date in ISO 8601 format",
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "notes": {
                    "description": "Internal notes visible only to your team",
                    "type": "string",
                    "nullable": true
                  },
                  "body": {
                    "description": "Rich-text content printed on the credit note",
                    "type": "string",
                    "nullable": true
                  },
                  "language": {
                    "description": "ISO 639-1 language code",
                    "type": "string",
                    "example": "es",
                    "nullable": true
                  },
                  "currency": {
                    "description": "ISO 4217 currency code",
                    "type": "string",
                    "example": "EUR",
                    "nullable": true
                  },
                  "currency_change": {
                    "description": "Exchange rate",
                    "type": "string",
                    "nullable": true
                  },
                  "items": {
                    "description": "Line items to include",
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "tags": {
                    "description": "Tags to attach",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "custom_fields": {
                    "description": "Custom field values",
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "number_line_id": {
                    "description": "Identifier of the numbering series",
                    "type": "string",
                    "nullable": true
                  },
                  "warehouse_id": {
                    "description": "Identifier of the warehouse",
                    "type": "string",
                    "nullable": true
                  },
                  "sales_channel_id": {
                    "description": "Identifier of the sales channel",
                    "type": "string",
                    "nullable": true
                  },
                  "discount": {
                    "description": "Global discount percentage",
                    "type": "number",
                    "nullable": true
                  },
                  "project_id": {
                    "description": "Identifier of the project to link",
                    "type": "string",
                    "nullable": true
                  },
                  "payment_method_id": {
                    "description": "Identifier of the default payment method",
                    "type": "string",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credit note created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unprocessable-entity"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unprocessable entity"
                    },
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/payments": {
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Create a payment for a credit note",
        "description": "**Required permission:** `sales:invoices.write`\n\nRecords a payment against the credit note. The payment amount is deducted from the pending balance.\n\nYou can record partial payments by specifying an amount less than the total outstanding. The credit note status is automatically updated to paid when the pending balance reaches zero.",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_createcreditnotepaymentapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "string",
                    "example": "100.00",
                    "nullable": true
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "treasury_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Get a credit note",
        "description": "**Required permission:** `sales:invoices.read`\n\nRetrieves the full details of a single credit note by its unique identifier.\n\nThe response includes line items, payment status and breakdown, custom fields, and the source document if the credit note was created from an invoice.",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_getcreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit note found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "description": "Unique identifier of the document",
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "document_number": {
                      "description": "Sequential number assigned to the document",
                      "type": "string",
                      "example": "INV-0001"
                    },
                    "contact_id": {
                      "description": "Identifier of the contact associated with this document",
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "contact_name": {
                      "description": "Name of the contact associated with this document",
                      "type": "string",
                      "example": "Acme Corp"
                    },
                    "description": {
                      "description": "Free-text description of the document",
                      "type": "string",
                      "nullable": true
                    },
                    "date": {
                      "description": "Issue date of the document in ISO 8601 format",
                      "type": "string",
                      "format": "date",
                      "example": "2024-01-15"
                    },
                    "due_date": {
                      "description": "Payment due date in ISO 8601 format",
                      "type": "string",
                      "format": "date",
                      "example": "2024-02-15",
                      "nullable": true
                    },
                    "subtotal": {
                      "description": "Sum of all line amounts before tax and discounts, as a decimal string",
                      "type": "string",
                      "example": "100.00"
                    },
                    "discount": {
                      "description": "Total discount applied to the document, as a decimal string",
                      "type": "string",
                      "example": "0"
                    },
                    "total": {
                      "description": "Final amount including taxes and discounts, as a decimal string",
                      "type": "string",
                      "example": "121.00"
                    },
                    "tax": {
                      "description": "Total tax amount, as a decimal string",
                      "type": "string",
                      "example": "21.00"
                    },
                    "currency": {
                      "description": "ISO 4217 currency code",
                      "type": "string",
                      "example": "EUR"
                    },
                    "status": {
                      "description": "Current status of the document",
                      "type": "string",
                      "example": "pending"
                    },
                    "tags": {
                      "description": "List of tags attached to the document",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "notes": {
                      "description": "Internal notes visible only to your team",
                      "type": "string",
                      "nullable": true
                    },
                    "language": {
                      "description": "ISO 639-1 language code used for the document",
                      "type": "string",
                      "example": "es"
                    },
                    "currency_change": {
                      "description": "Exchange rate applied when the document currency differs from the account currency",
                      "type": "string",
                      "example": "1.0"
                    },
                    "accounting_date": {
                      "description": "Date used for accounting purposes, if different from the issue date",
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "approved_at": {
                      "description": "Timestamp when the document was approved",
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "draft": {
                      "description": "Whether the document is still a draft",
                      "type": "boolean",
                      "nullable": true
                    },
                    "lines": {
                      "description": "Line items included in the document",
                      "type": "array",
                      "items": {
                        "properties": {
                          "line_id": {
                            "description": "Unique identifier of the line item",
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "description": "Name or title of the line item",
                            "type": "string"
                          },
                          "description": {
                            "description": "Detailed description of the line item",
                            "type": "string"
                          },
                          "price": {
                            "description": "Unit price as a decimal string",
                            "type": "string",
                            "example": "100.00"
                          },
                          "units": {
                            "description": "Quantity of units",
                            "type": "number",
                            "example": 1
                          },
                          "discount": {
                            "description": "Discount percentage applied to this line",
                            "type": "number",
                            "example": 0
                          },
                          "tax": {
                            "description": "Primary tax percentage applied to this line",
                            "type": "integer",
                            "example": 21
                          },
                          "taxes": {
                            "description": "List of tax identifiers applied to this line",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tags": {
                            "description": "Tags attached to this line item",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "product_id": {
                            "description": "Identifier of the linked product, if any",
                            "type": "string",
                            "nullable": true
                          },
                          "variant_id": {
                            "description": "Identifier of the product variant, if any",
                            "type": "string",
                            "nullable": true
                          },
                          "service_id": {
                            "description": "Identifier of the linked service, if any",
                            "type": "string",
                            "nullable": true
                          },
                          "sku": {
                            "description": "Stock Keeping Unit code of the product",
                            "type": "string",
                            "nullable": true
                          },
                          "weight": {
                            "description": "Weight of the item in the account default unit",
                            "type": "number"
                          },
                          "cost_price": {
                            "description": "Cost price as a decimal string",
                            "type": "string"
                          },
                          "account": {
                            "description": "Accounting account code assigned to this line",
                            "type": "string",
                            "nullable": true
                          },
                          "project_id": {
                            "description": "Identifier of the project linked to this line",
                            "type": "string",
                            "nullable": true
                          },
                          "retention": {
                            "description": "Retention percentage applied to this line",
                            "type": "number"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "custom_fields": {
                      "description": "User-defined custom fields attached to the document",
                      "type": "array",
                      "items": {
                        "properties": {
                          "field": {
                            "description": "Custom field identifier",
                            "type": "string"
                          },
                          "value": {
                            "description": "Value stored in the custom field",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "project_id": {
                      "description": "Identifier of the project linked to this document",
                      "type": "string",
                      "nullable": true
                    },
                    "pipeline_id": {
                      "description": "Identifier of the pipeline stage assigned to this document",
                      "type": "string",
                      "nullable": true
                    },
                    "warehouse_id": {
                      "description": "Identifier of the warehouse associated with this document",
                      "type": "string",
                      "nullable": true
                    },
                    "shipping": {
                      "description": "Shipping cost as a decimal string",
                      "type": "string",
                      "nullable": true
                    },
                    "shipping_data": {
                      "description": "Additional shipping information",
                      "type": "string",
                      "nullable": true
                    },
                    "payment_method_id": {
                      "description": "Identifier of the default payment method for this document",
                      "type": "string",
                      "nullable": true
                    },
                    "payments_total": {
                      "description": "Total amount already paid, as a decimal string",
                      "type": "string",
                      "example": "0"
                    },
                    "payments_pending": {
                      "description": "Remaining amount to be paid, as a decimal string",
                      "type": "string",
                      "example": "121.00"
                    },
                    "payments_refunds": {
                      "description": "Total refunded amount, as a decimal string",
                      "type": "string",
                      "example": "0"
                    },
                    "payments_detail": {
                      "description": "Breakdown of individual payments recorded against this document",
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "Unique identifier of the payment",
                            "type": "string"
                          },
                          "amount": {
                            "description": "Payment amount as a decimal string",
                            "type": "string",
                            "example": "100.00"
                          },
                          "date": {
                            "description": "Payment date as a Unix timestamp",
                            "type": "integer"
                          },
                          "bank_id": {
                            "description": "Identifier of the treasury account used for this payment",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "body": {
                      "description": "Rich-text body content printed on the credit note",
                      "type": "string",
                      "nullable": true
                    },
                    "multiple_due_dates": {
                      "description": "Split payment schedule with individual due dates and amounts",
                      "type": "array",
                      "items": {
                        "properties": {
                          "date": {
                            "description": "Due date for this instalment in ISO 8601 format",
                            "type": "string",
                            "format": "date"
                          },
                          "amount": {
                            "description": "Amount due for this instalment as a decimal string",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true
                    },
                    "forecast_date": {
                      "description": "Expected collection date used for cash-flow forecasting",
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "from": {
                      "description": "Source document this credit note was created from",
                      "properties": {
                        "id": {
                          "description": "Identifier of the source document",
                          "type": "string"
                        },
                        "doc_type": {
                          "description": "Type of the source document",
                          "type": "string"
                        }
                      },
                      "type": "object",
                      "nullable": true
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Update a credit note",
        "description": "**Required permission:** `sales:invoices.write`\n\nReplaces all mutable fields of an existing credit note. This is a full replacement \u2014 any field you omit will be reset to its default value.\n\nTo avoid accidentally clearing data, first fetch the credit note with GET, modify the fields you need, and send back the full object.",
        "operationId": "put_holded_document_creditnote_ui_adapter_http_api_updatecreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit note updated",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Delete a credit note",
        "description": "**Required permission:** `sales:invoices.write`\n\nPermanently deletes a credit note. This action cannot be undone.\n\nThe document number will not be reused by the numbering series.",
        "operationId": "delete_holded_document_creditnote_ui_adapter_http_api_deletecreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted"
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/pdf": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Get credit note PDF",
        "description": "**Required permission:** `sales:invoices.read`\n\nDownloads the credit note as a PDF file. The response Content-Type is `application/pdf`.\n\nThe PDF is generated using the template configured in your account settings.",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_getcreditnotepdfapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF binary content",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/send": {
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Send a credit note by email",
        "description": "**Required permission:** `sales:invoices.write`\n\nSends the credit note by email to the contact using the template configured in your account settings.\n\nYou can optionally specify recipient email addresses, subject, and message body.",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_sendcreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "emails"
                ],
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "subject": {
                    "type": "string",
                    "nullable": true
                  },
                  "message": {
                    "type": "string",
                    "nullable": true
                  },
                  "mail_template_id": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit note sent"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/pipeline": {
      "put": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Set credit note pipeline",
        "description": "**Required permission:** `sales:invoices.write`\n\nMoves the credit note to a specific pipeline stage.\n\nYou must provide the `pipeline_id` of the target stage.",
        "operationId": "put_holded_document_creditnote_ui_adapter_http_api_setcreditnotepipelineapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "pipeline_id"
                ],
                "properties": {
                  "pipeline_id": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline set"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/invoices/{invoiceId}/attachments": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoice attachments",
        "description": "**Required permission:** `sales:invoices.read`\n\nReturns the list of files attached to an invoice.\n\nEach attachment includes its identifier, file name, and size. Use the attachment ID to download or delete individual files.",
        "operationId": "get_holded_document_invoice_ui_adapter_http_api_listinvoiceattachmentsapi__invoke",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Attach a file to an invoice",
        "description": "**Required permission:** `sales:invoices.write`\n\nAttaches a file to an invoice. Send the file as `multipart/form-data`.\n\nMaximum file size is 10 MB. Attached files are visible in the invoice detail view and can be downloaded by your team. They are not included in emails sent to the contact.",
        "operationId": "post_holded_document_invoice_ui_adapter_http_api_attachinvoicefileapi__invoke",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File attached",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
[...]
