{
  "openapi": "3.0.0",
  "info": {
    "title": "Holded API",
    "description": "# Welcome to the Holded API\n\nThe Holded API allows you to integrate your business tools with the Holded ERP platform. Manage invoices, contacts, taxes, users, and more programmatically.\n\n## Authentication\n\nAll requests require a valid API key. Include it in your request headers:\n\n```\nAuthorization: Bearer \u003Cyour-api-key\u003E\n```\n\n## Conventions\n\n- **Format:** JSON (`application/json`) for requests and responses\n- **Rate limiting:** 100 requests per minute per API key\n- **Pagination:** Use `page` and `limit` query parameters\n- **Errors:** Standard HTTP status codes with descriptive error messages\n",
    "contact": {
      "name": "Holded API Support",
      "url": "https://developers.holded.com",
      "email": "support@holded.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.holded.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v2/treasuries/transactions": {
      "get": {
        "tags": [
          "Treasuries"
        ],
        "summary": "List all treasury transactions",
        "operationId": "get_holded_banking_ui_adapter_http_api_listalltreasurytransactionsapi__invoke",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of treasury transactions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "treasury_id": {
                            "type": "string",
                            "example": "507f1f77bcf86cd799439012",
                            "nullable": true
                          },
                          "contact_name": {
                            "type": "string",
                            "example": "Acme Corp"
                          },
                          "amount": {
                            "description": "Decimal as string for precision",
                            "type": "string",
                            "example": "1500.00"
                          },
                          "description": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "accounting:banks.read"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/attachments": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "List credit note attachments",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_listcreditnoteattachmentsapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Attach a file to a credit note",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_attachcreditnotefileapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File attached",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "List credit notes",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_listcreditnotesapi__invoke",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "partial",
                "cancelled",
                "failed"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "-date",
                "dueDate",
                "-dueDate",
                "total",
                "-total"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of credit notes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "document_number": {
                            "type": "string",
                            "example": "INV-0001"
                          },
                          "contact_id": {
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "contact_name": {
                            "type": "string",
                            "example": "Acme Corp"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "date": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-01-15"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-02-15",
                            "nullable": true
                          },
                          "subtotal": {
                            "type": "string",
                            "example": "100.00"
                          },
                          "discount": {
                            "type": "string",
                            "example": "0"
                          },
                          "total": {
                            "type": "string",
                            "example": "121.00"
                          },
                          "tax": {
                            "type": "string",
                            "example": "21.00"
                          },
                          "currency": {
                            "type": "string",
                            "example": "EUR"
                          },
                          "status": {
                            "type": "string",
                            "example": "pending"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "payment_method_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "payments_total": {
                            "type": "string",
                            "example": "0"
                          },
                          "payments_pending": {
                            "type": "string",
                            "example": "121.00"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Create a credit note",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_createcreditnoteapi__invoke",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "contact_id": {
                    "type": "string"
                  },
                  "contact_name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "example": "2024-01-15"
                  },
                  "due_date": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true
                  },
                  "body": {
                    "type": "string",
                    "nullable": true
                  },
                  "language": {
                    "type": "string",
                    "example": "es",
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "example": "EUR",
                    "nullable": true
                  },
                  "currency_change": {
                    "type": "string",
                    "nullable": true
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "custom_fields": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "number_line_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "warehouse_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "sales_channel_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "discount": {
                    "type": "number",
                    "nullable": true
                  },
                  "project_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "payment_method_id": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credit note created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unprocessable-entity"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unprocessable entity"
                    },
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/payments": {
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Create a payment for a credit note",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_createcreditnotepaymentapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "string",
                    "example": "100.00",
                    "nullable": true
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "treasury_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Get a credit note",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_getcreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit note found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "document_number": {
                      "type": "string",
                      "example": "INV-0001"
                    },
                    "contact_id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "contact_name": {
                      "type": "string",
                      "example": "Acme Corp"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "example": "2024-01-15"
                    },
                    "due_date": {
                      "type": "string",
                      "format": "date",
                      "example": "2024-02-15",
                      "nullable": true
                    },
                    "subtotal": {
                      "type": "string",
                      "example": "100.00"
                    },
                    "discount": {
                      "type": "string",
                      "example": "0"
                    },
                    "total": {
                      "type": "string",
                      "example": "121.00"
                    },
                    "tax": {
                      "type": "string",
                      "example": "21.00"
                    },
                    "currency": {
                      "type": "string",
                      "example": "EUR"
                    },
                    "status": {
                      "type": "string",
                      "example": "pending"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "notes": {
                      "type": "string",
                      "nullable": true
                    },
                    "language": {
                      "type": "string",
                      "example": "es"
                    },
                    "currency_change": {
                      "type": "string",
                      "example": "1.0"
                    },
                    "accounting_date": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "approved_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "draft": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "lines": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "line_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "price": {
                            "type": "string",
                            "example": "100.00"
                          },
                          "units": {
                            "type": "number",
                            "example": 1
                          },
                          "discount": {
                            "type": "number",
                            "example": 0
                          },
                          "tax": {
                            "type": "integer",
                            "example": 21
                          },
                          "taxes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "product_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "variant_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "service_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "sku": {
                            "type": "string",
                            "nullable": true
                          },
                          "weight": {
                            "type": "number"
                          },
                          "cost_price": {
                            "type": "string"
                          },
                          "account": {
                            "type": "string",
                            "nullable": true
                          },
                          "project_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "retention": {
                            "type": "number"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "custom_fields": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "project_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "pipeline_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "warehouse_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "shipping": {
                      "type": "string",
                      "nullable": true
                    },
                    "shipping_data": {
                      "type": "string",
                      "nullable": true
                    },
                    "payment_method_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "payments_total": {
                      "type": "string",
                      "example": "0"
                    },
                    "payments_pending": {
                      "type": "string",
                      "example": "121.00"
                    },
                    "payments_refunds": {
                      "type": "string",
                      "example": "0"
                    },
                    "payments_detail": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string",
                            "example": "100.00"
                          },
                          "date": {
                            "type": "integer"
                          },
                          "bank_id": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "body": {
                      "type": "string",
                      "nullable": true
                    },
                    "multiple_due_dates": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "amount": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true
                    },
                    "forecast_date": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "from": {
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "doc_type": {
                          "type": "string"
                        }
                      },
                      "type": "object",
                      "nullable": true
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Update a credit note",
        "operationId": "put_holded_document_creditnote_ui_adapter_http_api_updatecreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit note updated",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Delete a credit note",
        "operationId": "delete_holded_document_creditnote_ui_adapter_http_api_deletecreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted"
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/pdf": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Get credit note PDF",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_getcreditnotepdfapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF binary content",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/send": {
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Send a credit note by email",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_sendcreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "emails"
                ],
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "subject": {
                    "type": "string",
                    "nullable": true
                  },
                  "message": {
                    "type": "string",
                    "nullable": true
                  },
                  "mail_template_id": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit note sent"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/pipeline": {
      "put": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Set credit note pipeline",
        "operationId": "put_holded_document_creditnote_ui_adapter_http_api_setcreditnotepipelineapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "pipeline_id"
                ],
                "properties": {
                  "pipeline_id": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline set"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Credit note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/invoices/{invoiceId}/attachments": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoice attachments",
        "operationId": "get_holded_document_invoice_ui_adapter_http_api_listinvoiceattachmentsapi__invoke",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Attach a file to an invoice",
        "operationId": "post_holded_document_invoice_ui_adapter_http_api_attachinvoicefileapi__invoke",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File attached",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoices",
        "operationId": "get_holded_document_invoice_ui_adapter_http_api_listinvoicesapi__invoke",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "partial",
                "cancelled",
                "failed"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "-date",
                "dueDate",
                "-dueDate",
                "total",
                "-total"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "document_number": {
                            "type": "string",
                            "example": "INV-0001"
                          },
                          "contact_id": {
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "contact_name": {
                            "type": "string",
                            "example": "Acme Corp"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "date": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-01-15"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-02-15",
                            "nullable": true
                          },
                          "subtotal": {
                            "type": "string",
                            "example": "100.00"
                          },
                          "discount": {
                            "type": "string",
                            "example": "0"
                          },
                          "total": {
                            "type": "string",
                            "example": "121.00"
                          },
                          "tax": {
                            "type": "string",
                            "example": "21.00"
                          },
                          "currency": {
                            "type": "string",
                            "example": "EUR"
                          },
                          "status": {
                            "type": "string",
                            "example": "pending"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "payment_method_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "payments_total": {
                            "type": "string",
                            "example": "0"
                          },
                          "payments_pending": {
                            "type": "string",
                            "example": "121.00"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create an invoice",
        "operationId": "post_holded_document_invoice_ui_adapter_http_api_createinvoiceapi__invoke",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "contact_id": {
                    "type": "string"
                  },
                  "contact_name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "example": "2024-01-15"
                  },
                  "due_date": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true
                  },
                  "body": {
                    "type": "string",
                    "nullable": true
                  },
                  "language": {
                    "type": "string",
                    "example": "es",
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "example": "EUR",
                    "nullable": true
                  },
                  "currency_change": {
                    "type": "string",
                    "nullable": true
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "custom_fields": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "number_line_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "warehouse_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "sales_channel_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "discount": {
                    "type": "number",
                    "nullable": true
                  },
                  "project_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "payment_method_id": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unprocessable-entity"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unprocessable entity"
                    },
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/invoices/{invoiceId}/payments": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create a payment for an invoice",
        "operationId": "post_holded_document_invoice_ui_adapter_http_api_createinvoicepaymentapi__invoke",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "string",
                    "example": "100.00",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get an invoice",
        "operationId": "get_holded_document_invoice_ui_adapter_http_api_getinvoiceapi__invoke",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "document_number": {
                      "type": "string",
                      "example": "INV-0001"
                    },
                    "contact_id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "contact_name": {
                      "type": "string",
                      "example": "Acme Corp"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "example": "2024-01-15"
                    },
                    "due_date": {
                      "type": "string",
                      "format": "date",
                      "example": "2024-02-15",
                      "nullable": true
                    },
                    "subtotal": {
                      "type": "string",
                      "example": "100.00"
                    },
                    "discount": {
                      "type": "string",
                      "example": "0"
                    },
                    "total": {
                      "type": "string",
                      "example": "121.00"
                    },
                    "tax": {
                      "type": "string",
                      "example": "21.00"
                    },
                    "currency": {
                      "type": "string",
                      "example": "EUR"
                    },
                    "status": {
                      "type": "string",
                      "example": "pending"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
[...]
