{
  "openapi": "3.0.0",
  "info": {
    "title": "Holded API",
    "description": "# Bienvenido a la API de Holded\n\nLa API de Holded te permite integrar tus herramientas de negocio con la plataforma ERP de Holded.\nGestiona facturas, contactos, impuestos, usuarios y m\u00e1s de forma program\u00e1tica.\n\n## Autenticaci\u00f3n\n\nTodas las solicitudes requieren una API key v\u00e1lida. Incl\u00fayela en las cabeceras:\n\n```\nAuthorization: Bearer <tu-api-key>\n```\n\n## Convenciones\n\n- **Formato:** JSON (`application/json`) para solicitudes y respuestas\n- **Rate limiting:** 100 solicitudes por minuto por API key\n- **Paginaci\u00f3n:** Usa los par\u00e1metros `page` y `limit`\n- **Errores:** C\u00f3digos de estado HTTP est\u00e1ndar con mensajes descriptivos\n",
    "contact": {
      "name": "Soporte API de Holded",
      "url": "https://developers.holded.com",
      "email": "support@holded.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.holded.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v2/treasuries/transactions": {
      "get": {
        "tags": [
          "Tesorer\u00eda"
        ],
        "summary": "Listado de todas las transacciones de tesorer\u00eda",
        "description": "**Permiso requerido:** `accounting:banks.read`\n\nDevuelve una lista paginada de transacciones de todas las cuentas de tesorer\u00eda.\n",
        "operationId": "get_holded_banking_ui_adapter_http_api_listalltreasurytransactionsapi__invoke",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor opaco para paginaci\u00f3n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "N\u00famero m\u00e1ximo de transacciones a devolver por p\u00e1gina. Por defecto 25, m\u00e1ximo 100",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de transacciones de tesorer\u00eda",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "Unique identifier of the transaction",
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "treasury_id": {
                            "description": "Identifier of the treasury account this transaction belongs to",
                            "type": "string",
                            "example": "507f1f77bcf86cd799439012",
                            "nullable": true
                          },
                          "contact_name": {
                            "description": "Name of the contact associated with the transaction",
                            "type": "string",
                            "example": "Acme Corp"
                          },
                          "amount": {
                            "description": "Decimal as string for precision",
                            "type": "string",
                            "example": "1500.00"
                          },
                          "description": {
                            "description": "Description of the transaction",
                            "type": "string"
                          },
                          "date": {
                            "description": "Transaction date as an ISO 8601 timestamp",
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "accounting:banks.read"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/attachments": {
      "get": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Listar adjuntos de factura rectificativa",
        "description": "**Permiso requerido:** `sales:invoices.read`\n\nDevuelve la lista de archivos adjuntos a una factura rectificativa.\n",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_listcreditnoteattachmentsapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "ID de la factura rectificativa (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de adjuntos",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Factura rectificativa no encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Adjuntar un archivo a una factura rectificativa",
        "description": "**Permiso requerido:** `sales:invoices.write`\n\nAdjunta un archivo a una factura rectificativa. Env\u00eda el archivo como `multipart/form-data`.\n",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_attachcreditnotefileapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "ID de la factura rectificativa (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Archivo adjunto",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Factura rectificativa no encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes": {
      "get": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Listado de facturas rectificativas",
        "description": "**Permiso requerido:** `sales:invoices.read`\n\nDevuelve una lista paginada de facturas rectificativas de tu cuenta.\n\nLos resultados est\u00e1n paginados por cursor.\n",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_listcreditnotesapi__invoke",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "N\u00famero m\u00e1ximo de facturas rectificativas a devolver por p\u00e1gina. Por defecto 25, m\u00e1ximo 100",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Cursor opaco para paginaci\u00f3n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "partial",
                "cancelled",
                "failed"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "-date",
                "dueDate",
                "-dueDate",
                "total",
                "-total"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de facturas rectificativas",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "Unique identifier of the document",
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "document_number": {
                            "description": "Sequential number assigned to the document",
                            "type": "string",
                            "example": "INV-0001"
                          },
                          "contact_id": {
                            "description": "Identifier of the contact associated with this document",
                            "type": "string",
                            "example": "507f1f77bcf86cd799439011"
                          },
                          "contact_name": {
                            "description": "Name of the contact associated with this document",
                            "type": "string",
                            "example": "Acme Corp"
                          },
                          "description": {
                            "description": "Free-text description of the document",
                            "type": "string",
                            "nullable": true
                          },
                          "date": {
                            "description": "Issue date of the document in ISO 8601 format",
                            "type": "string",
                            "format": "date",
                            "example": "2024-01-15"
                          },
                          "due_date": {
                            "description": "Payment due date in ISO 8601 format",
                            "type": "string",
                            "format": "date",
                            "example": "2024-02-15",
                            "nullable": true
                          },
                          "subtotal": {
                            "description": "Sum of all line amounts before tax and discounts, as a decimal string",
                            "type": "string",
                            "example": "100.00"
                          },
                          "discount": {
                            "description": "Total discount applied to the document, as a decimal string",
                            "type": "string",
                            "example": "0"
                          },
                          "total": {
                            "description": "Final amount including taxes and discounts, as a decimal string",
                            "type": "string",
                            "example": "121.00"
                          },
                          "tax": {
                            "description": "Total tax amount, as a decimal string",
                            "type": "string",
                            "example": "21.00"
                          },
                          "currency": {
                            "description": "ISO 4217 currency code",
                            "type": "string",
                            "example": "EUR"
                          },
                          "status": {
                            "description": "Current status of the document",
                            "type": "string",
                            "example": "pending"
                          },
                          "tags": {
                            "description": "List of tags attached to the document",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "payment_method_id": {
                            "description": "Identifier of the default payment method for this credit note",
                            "type": "string",
                            "nullable": true
                          },
                          "payments_total": {
                            "description": "Total amount already paid, as a decimal string",
                            "type": "string",
                            "example": "0"
                          },
                          "payments_pending": {
                            "description": "Remaining amount to be paid, as a decimal string",
                            "type": "string",
                            "example": "121.00"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Crear una factura rectificativa",
        "description": "**Permiso requerido:** `sales:invoices.write`\n\nCrea una nueva factura rectificativa para un contacto. Las facturas rectificativas reducen el saldo pendiente de un cliente.\n",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_createcreditnoteapi__invoke",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "contact_id": {
                    "description": "Identificador de un contacto existente",
                    "type": "string"
                  },
                  "contact_name": {
                    "description": "Nombre del contacto",
                    "type": "string"
                  },
                  "description": {
                    "description": "Descripci\u00f3n en texto libre",
                    "type": "string",
                    "nullable": true
                  },
                  "date": {
                    "description": "Fecha de emisi\u00f3n en formato ISO 8601",
                    "type": "string",
                    "format": "date",
                    "example": "2024-01-15"
                  },
                  "due_date": {
                    "description": "Fecha de vencimiento en formato ISO 8601",
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "notes": {
                    "description": "Notas internas visibles solo para tu equipo",
                    "type": "string",
                    "nullable": true
                  },
                  "body": {
                    "description": "Contenido enriquecido impreso en el documento",
                    "type": "string",
                    "nullable": true
                  },
                  "language": {
                    "description": "C\u00f3digo de idioma ISO 639-1",
                    "type": "string",
                    "example": "es",
                    "nullable": true
                  },
                  "currency": {
                    "description": "C\u00f3digo de moneda ISO 4217",
                    "type": "string",
                    "example": "EUR",
                    "nullable": true
                  },
                  "currency_change": {
                    "description": "Tipo de cambio",
                    "type": "string",
                    "nullable": true
                  },
                  "items": {
                    "description": "L\u00edneas del documento",
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "tags": {
                    "description": "Etiquetas para clasificar",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "custom_fields": {
                    "description": "Valores de campos personalizados",
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "number_line_id": {
                    "description": "Identificador de la serie de numeraci\u00f3n",
                    "type": "string",
                    "nullable": true
                  },
                  "warehouse_id": {
                    "description": "Identificador del almac\u00e9n",
                    "type": "string",
                    "nullable": true
                  },
                  "sales_channel_id": {
                    "description": "Identificador del canal de venta",
                    "type": "string",
                    "nullable": true
                  },
                  "discount": {
                    "description": "Porcentaje de descuento global",
                    "type": "number",
                    "nullable": true
                  },
                  "project_id": {
                    "description": "Identificador del proyecto a vincular",
                    "type": "string",
                    "nullable": true
                  },
                  "payment_method_id": {
                    "description": "Identificador del m\u00e9todo de pago predeterminado",
                    "type": "string",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Factura rectificativa creada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Error de validaci\u00f3n",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unprocessable-entity"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unprocessable entity"
                    },
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/payments": {
      "post": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Registrar un pago de factura rectificativa",
        "description": "**Permiso requerido:** `sales:invoices.write`\n\nRegistra un pago contra la factura rectificativa. El importe del pago se deduce del saldo pendiente.\n",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_createcreditnotepaymentapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "ID de la factura rectificativa (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "description": "Importe del pago",
                    "type": "string",
                    "example": "100.00",
                    "nullable": true
                  },
                  "date": {
                    "description": "Fecha del pago",
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "treasury_id": {
                    "description": "Identificador de la cuenta de tesorer\u00eda",
                    "type": "string",
                    "nullable": true
                  },
                  "description": {
                    "description": "Descripci\u00f3n del pago",
                    "type": "string",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pago creado"
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Factura rectificativa no encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}": {
      "get": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Obtener una factura rectificativa",
        "description": "**Permiso requerido:** `sales:invoices.read`\n\nRecupera todos los detalles de una factura rectificativa espec\u00edfica por su identificador \u00fanico.\n",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_getcreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "ID de la factura rectificativa (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Factura rectificativa encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "description": "Unique identifier of the document",
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "document_number": {
                      "description": "Sequential number assigned to the document",
                      "type": "string",
                      "example": "INV-0001"
                    },
                    "contact_id": {
                      "description": "Identifier of the contact associated with this document",
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "contact_name": {
                      "description": "Name of the contact associated with this document",
                      "type": "string",
                      "example": "Acme Corp"
                    },
                    "description": {
                      "description": "Free-text description of the document",
                      "type": "string",
                      "nullable": true
                    },
                    "date": {
                      "description": "Issue date of the document in ISO 8601 format",
                      "type": "string",
                      "format": "date",
                      "example": "2024-01-15"
                    },
                    "due_date": {
                      "description": "Payment due date in ISO 8601 format",
                      "type": "string",
                      "format": "date",
                      "example": "2024-02-15",
                      "nullable": true
                    },
                    "subtotal": {
                      "description": "Sum of all line amounts before tax and discounts, as a decimal string",
                      "type": "string",
                      "example": "100.00"
                    },
                    "discount": {
                      "description": "Total discount applied to the document, as a decimal string",
                      "type": "string",
                      "example": "0"
                    },
                    "total": {
                      "description": "Final amount including taxes and discounts, as a decimal string",
                      "type": "string",
                      "example": "121.00"
                    },
                    "tax": {
                      "description": "Total tax amount, as a decimal string",
                      "type": "string",
                      "example": "21.00"
                    },
                    "currency": {
                      "description": "ISO 4217 currency code",
                      "type": "string",
                      "example": "EUR"
                    },
                    "status": {
                      "description": "Current status of the document",
                      "type": "string",
                      "example": "pending"
                    },
                    "tags": {
                      "description": "List of tags attached to the document",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "notes": {
                      "description": "Internal notes visible only to your team",
                      "type": "string",
                      "nullable": true
                    },
                    "language": {
                      "description": "ISO 639-1 language code used for the document",
                      "type": "string",
                      "example": "es"
                    },
                    "currency_change": {
                      "description": "Exchange rate applied when the document currency differs from the account currency",
                      "type": "string",
                      "example": "1.0"
                    },
                    "accounting_date": {
                      "description": "Date used for accounting purposes, if different from the issue date",
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "approved_at": {
                      "description": "Timestamp when the document was approved",
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "draft": {
                      "description": "Whether the document is still a draft",
                      "type": "boolean",
                      "nullable": true
                    },
                    "lines": {
                      "description": "Line items included in the document",
                      "type": "array",
                      "items": {
                        "properties": {
                          "line_id": {
                            "description": "Unique identifier of the line item",
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "description": "Name or title of the line item",
                            "type": "string"
                          },
                          "description": {
                            "description": "Detailed description of the line item",
                            "type": "string"
                          },
                          "price": {
                            "description": "Unit price as a decimal string",
                            "type": "string",
                            "example": "100.00"
                          },
                          "units": {
                            "description": "Quantity of units",
                            "type": "number",
                            "example": 1
                          },
                          "discount": {
                            "description": "Discount percentage applied to this line",
                            "type": "number",
                            "example": 0
                          },
                          "tax": {
                            "description": "Primary tax percentage applied to this line",
                            "type": "integer",
                            "example": 21
                          },
                          "taxes": {
                            "description": "List of tax identifiers applied to this line",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tags": {
                            "description": "Tags attached to this line item",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "product_id": {
                            "description": "Identifier of the linked product, if any",
                            "type": "string",
                            "nullable": true
                          },
                          "variant_id": {
                            "description": "Identifier of the product variant, if any",
                            "type": "string",
                            "nullable": true
                          },
                          "service_id": {
                            "description": "Identifier of the linked service, if any",
                            "type": "string",
                            "nullable": true
                          },
                          "sku": {
                            "description": "Stock Keeping Unit code of the product",
                            "type": "string",
                            "nullable": true
                          },
                          "weight": {
                            "description": "Weight of the item in the account default unit",
                            "type": "number"
                          },
                          "cost_price": {
                            "description": "Cost price as a decimal string",
                            "type": "string"
                          },
                          "account": {
                            "description": "Accounting account code assigned to this line",
                            "type": "string",
                            "nullable": true
                          },
                          "project_id": {
                            "description": "Identifier of the project linked to this line",
                            "type": "string",
                            "nullable": true
                          },
                          "retention": {
                            "description": "Retention percentage applied to this line",
                            "type": "number"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "custom_fields": {
                      "description": "User-defined custom fields attached to the document",
                      "type": "array",
                      "items": {
                        "properties": {
                          "field": {
                            "description": "Custom field identifier",
                            "type": "string"
                          },
                          "value": {
                            "description": "Value stored in the custom field",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "project_id": {
                      "description": "Identifier of the project linked to this document",
                      "type": "string",
                      "nullable": true
                    },
                    "pipeline_id": {
                      "description": "Identifier of the pipeline stage assigned to this document",
                      "type": "string",
                      "nullable": true
                    },
                    "warehouse_id": {
                      "description": "Identifier of the warehouse associated with this document",
                      "type": "string",
                      "nullable": true
                    },
                    "shipping": {
                      "description": "Shipping cost as a decimal string",
                      "type": "string",
                      "nullable": true
                    },
                    "shipping_data": {
                      "description": "Additional shipping information",
                      "type": "string",
                      "nullable": true
                    },
                    "payment_method_id": {
                      "description": "Identifier of the default payment method for this document",
                      "type": "string",
                      "nullable": true
                    },
                    "payments_total": {
                      "description": "Total amount already paid, as a decimal string",
                      "type": "string",
                      "example": "0"
                    },
                    "payments_pending": {
                      "description": "Remaining amount to be paid, as a decimal string",
                      "type": "string",
                      "example": "121.00"
                    },
                    "payments_refunds": {
                      "description": "Total refunded amount, as a decimal string",
                      "type": "string",
                      "example": "0"
                    },
                    "payments_detail": {
                      "description": "Breakdown of individual payments recorded against this document",
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "Unique identifier of the payment",
                            "type": "string"
                          },
                          "amount": {
                            "description": "Payment amount as a decimal string",
                            "type": "string",
                            "example": "100.00"
                          },
                          "date": {
                            "description": "Payment date as a Unix timestamp",
                            "type": "integer"
                          },
                          "bank_id": {
                            "description": "Identifier of the treasury account used for this payment",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "body": {
                      "description": "Rich-text body content printed on the credit note",
                      "type": "string",
                      "nullable": true
                    },
                    "multiple_due_dates": {
                      "description": "Split payment schedule with individual due dates and amounts",
                      "type": "array",
                      "items": {
                        "properties": {
                          "date": {
                            "description": "Due date for this instalment in ISO 8601 format",
                            "type": "string",
                            "format": "date"
                          },
                          "amount": {
                            "description": "Amount due for this instalment as a decimal string",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true
                    },
                    "forecast_date": {
                      "description": "Expected collection date used for cash-flow forecasting",
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "from": {
                      "description": "Source document this credit note was created from",
                      "properties": {
                        "id": {
                          "description": "Identifier of the source document",
                          "type": "string"
                        },
                        "doc_type": {
                          "description": "Type of the source document",
                          "type": "string"
                        }
                      },
                      "type": "object",
                      "nullable": true
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Factura rectificativa no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Actualizar una factura rectificativa",
        "description": "**Permiso requerido:** `sales:invoices.write`\n\nReemplaza todos los campos editables de una factura rectificativa existente. Se trata de un reemplazo completo del recurso.\n",
        "operationId": "put_holded_document_creditnote_ui_adapter_http_api_updatecreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "ID de la factura rectificativa (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura rectificativa actualizada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Factura rectificativa no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Eliminar una factura rectificativa",
        "description": "**Permiso requerido:** `sales:invoices.write`\n\nElimina permanentemente una factura rectificativa. Esta acci\u00f3n no se puede deshacer.\n",
        "operationId": "delete_holded_document_creditnote_ui_adapter_http_api_deletecreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "ID de la factura rectificativa (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Recurso eliminado"
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Factura rectificativa no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/pdf": {
      "get": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Obtener PDF de factura rectificativa",
        "description": "**Permiso requerido:** `sales:invoices.read`\n\nDescarga la factura rectificativa como archivo PDF.\n",
        "operationId": "get_holded_document_creditnote_ui_adapter_http_api_getcreditnotepdfapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "ID de la factura rectificativa (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contenido PDF binario",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Factura rectificativa no encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/send": {
      "post": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Enviar factura rectificativa por email",
        "description": "**Permiso requerido:** `sales:invoices.write`\n\nEnv\u00eda la factura rectificativa por email al contacto usando la plantilla configurada.\n",
        "operationId": "post_holded_document_creditnote_ui_adapter_http_api_sendcreditnoteapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "ID de la factura rectificativa (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "emails"
                ],
                "properties": {
                  "emails": {
                    "description": "Lista de direcciones de email destinatarias",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "subject": {
                    "description": "Asunto personalizado del email",
                    "type": "string",
                    "nullable": true
                  },
                  "message": {
                    "description": "Cuerpo personalizado del email",
                    "type": "string",
                    "nullable": true
                  },
                  "mail_template_id": {
                    "description": "Identificador de la plantilla de email a usar",
                    "type": "string",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura rectificativa enviada"
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Factura rectificativa no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/credit-notes/{creditNoteId}/pipeline": {
      "put": {
        "tags": [
          "Facturas rectificativas"
        ],
        "summary": "Establecer pipeline de factura rectificativa",
        "description": "**Permiso requerido:** `sales:invoices.write`\n\nMueve la factura rectificativa a una etapa espec\u00edfica del pipeline.\n",
        "operationId": "put_holded_document_creditnote_ui_adapter_http_api_setcreditnotepipelineapi__invoke",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "ID de la factura rectificativa (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "pipeline_id"
                ],
                "properties": {
                  "pipeline_id": {
                    "description": "Identificador de la etapa del pipeline",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline actualizado"
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "example": "Bad request"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Factura rectificativa no encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.write"
            ]
          }
        ]
      }
    },
    "/api/v2/invoices/{invoiceId}/attachments": {
      "get": {
        "tags": [
          "Facturas"
        ],
        "summary": "Listar adjuntos de factura",
        "description": "**Permiso requerido:** `sales:invoices.read`\n\nDevuelve la lista de archivos adjuntos a una factura.\n",
        "operationId": "get_holded_document_invoice_ui_adapter_http_api_listinvoiceattachmentsapi__invoke",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "ID de la factura (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de adjuntos",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "API key inv\u00e1lida o no proporcionada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/unauthorized"
                    },
                    "title": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Permisos insuficientes",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/forbidden"
                    },
                    "title": {
                      "type": "string",
                      "example": "Forbidden"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Factura no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/not-found"
                    },
                    "title": {
                      "type": "string",
                      "example": "Not found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "L\u00edmite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "https://api.holded.com/problems/too-many-requests"
                    },
                    "title": {
                      "type": "string",
                      "example": "Too many requests"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "sales:invoices.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Facturas"
        ],
        "summary": "Adjuntar un archivo a una factura",
        "description": "**Permiso requerido:** `sales:invoices.write`\n\nAdjunta un archivo a una factura. Env\u00eda el archivo como `multipart/form-data`.\n",
        "operationId": "post_holded_document_invoice_ui_adapter_http_api_attachinvoicefileapi__invoke",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "ID de la factura (ObjectId hexadecimal de 24 caracteres)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Archivo adjunto",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
[...]
